body {
    background-color : #1BEBC0;
}

/* login form */

.h1-admin {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top : -20px;
}
.login-page {
    width: 835px;
    padding: 8% 0 0;
    margin: auto;
}

.main-login {
    background: #95a5a6; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #95a5a6,#95a5a6);
    background: -moz-linear-gradient(right, #95a5a6,#95a5a6);
    background: -o-linear-gradient(right, #95a5a6,#95a5a6);
    background: linear-gradient(to left, #95a5a6, #95a5a6);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.form {
    position: relative;
    z-index: 1;
    background: #FFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,24);
}

.form input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form .button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background: #95a5a6;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 case;
    cursor: pointer;
}

.form .button:hover,.form .button:active,.form .button:focus {
background: #1BEBC0;
  }