<div class="menu-sidebar">
<ul>
    <li class="dashboard active">
        <a href="../index.php">DashBoard</a>
    </li>
    <div class="topnav">
        <!-- Navigation links (hidden by default) -->
        <li class="addData">
            <a href="javascript:void(0);" onclick="myFunction()">Master Data</a>
        </li>
        <div id="myLinks" class="myLinks">
            <a href="../guru/tampil-guru.php">Guru</a>
            <a href="../murid/tampil-murid.php">Murid</a>
            <a href="../wali/tampil-wali.php">Wali Murid</a>
            <a href="../pelanggaran/tampil-pelanggaran.php">Pelanggaran</a>
        </div>
    </div>
</ul>
</div>