<div class="menu-sidebar">
    <ul>
        
            <li class="dashboard active">
                <a href="index.php">DashBoard</a>
            </li>
            <li class="AddSiswa">
                <a href="cari-murid.php">Tambah Pelanggaran</a>
            </li>
            <div class="topnav">
                <!-- Navigation links (hidden by default) -->
                <li class="addData">
                    <a href="daftar-pelanggaran.php">Pelanggaran Diberikan</a>
                </li>
            </div>
        
    </ul>
    </div>