* {
    box-sizing: border-box;
}
body {
    background-color: linen;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
}

/* header */
header h1 {
    text-align: left;
    font-size: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    background-color: #1BEBC0;
    height: 75px;
    justify-content: space-between;
}

header h1 {
    padding-left: 20px;
    padding : 15px;
    margin-top : 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 30px;
    color : white;
}

header a {
    color : white;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    font-size : 30px;
    border-radius: 7px;
}

header a:hover{
    background-color: #ddd;
    color: black;
}

.box-profile {
    width: 200px;
    padding-right: 20px;
    margin: 10px;
    background-color: #ccc;
    position: relative;
}

/* .photo {
    border-radius: 999px;
} */

.box-profile p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : white;
    position: relative;
    margin: 0;
    margin-top: -7px;
}
.box-profile * {
    padding: 0;
    margin: 0;
}

.box-profile {
    text-align: right;
}

/* nav */
nav {
    /* flex-grow: 1; */
    display: none;
    text-align: right;
    padding-right: 20px;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #ccc;
}
nav li {
    display: block;
    margin-top: 20px;
}

.box-profile:hover > nav {
    display: block;
}


/* sidebar */

sidebar {
    display: flex;
    align-items: flex-start;
    background-color: #858585;
    flex-direction: column;
    /* padding: 10px; */
    height: 500px;
    min-width: 200px;
}

sidebar h1 {
    color: white;
    margin-top: auto 5px;
}

sidebar .dashboard {
    display : inline;
    padding-right : 30px;
    border: #95a5a6;
}

sidebar .addData {
    display: inline;
}

.container{
    display: flex;
    flex-direction: row;

}
.container > header{
    width: 20%;
}

.container > main{
    width: 100%;
}

/* main */
.box-container {
    display: flex;
    flex-wrap: 1;
}

.jum {
    margin: 25px;
    margin-left: 45px;
    color: white;
    width: 300px;
    height: 160px;
    border-radius: 10px;
}

.KetSiswa {
    position: absolute;
    padding: 10px;
    margin-top: 100px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.KetSiswa::before {
    content: "";
    position: absolute;
    margin-right: 10px;
    margin-top : -100px;
    width: 90px;
    height: 90px;
    background: url('../../images/account.png');
    background-size: cover;
}

.JumSiswa {
    font-size : 40px;
    margin: 4;
    margin-left: 220px;
}

.KetGuru {
    position: absolute;
    padding: 10px;
    margin-top: 100px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.KetGuru::before {
    content: "";
    position: absolute;
    margin-right: 10px;
    margin-top : -100px;
    width: 90px;
    height: 90px;
    background: url('../../images/intellectual.png');
    background-size: cover;
}

.JumGuru {
    font-size : 40px;
    margin: 4;
    margin-left: 220px;
}

.KetPelanggaran {
    position: absolute;
    padding: 10px;
    margin-top: 100px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.KetPelanggaran::before {
    content: "";
    position: absolute;
    margin-right: 10px;
    margin-top : -100px;
    width: 90px;
    height: 90px;
    background: url('../../images/unlocked-lock.png');
    background-size: cover;
}

.JumPelanggaran {
    font-size : 40px;
    margin: 4;
    margin-left: 220px;
}

.siswa {
    background-color: #3498DB;
}

.guru {
    background-color: #F39C12;
}

.pelanggaran {
    background-color: #E74C3C;
}

/* main warning */
.box-info {
    display: flex;
    flex-wrap: 1;
}

.box-langgar {
    display: flex;
    flex-direction: column-reverse;
    margin-left: -1120px;
}

/* tambah guru */
.form {
    margin: 20px;
    margin-left: 450px;
    padding: 5px;
}

.judulform {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-align: left;
    margin-top: -10px;
}

.add {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    text-align: center;
}

.add input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
    background: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.add select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
    background: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #858585;
}

.add textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
    background: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.add .button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background: #95a5a6;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 case;
    cursor: pointer;
}

.add .button:hover,.add .button:active,.add .button:focus {
    background: #1BEBC0;
      }

.adddata {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    width: auto;
    margin-right: -1000px;
    text-align: right;
    display: block;
    text-decoration: none;
}

table {
    padding: 5px;
    width: 99%;
    outline: 1;
    border: 1;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin : 0 auto 0 auto;
}

.topwarning {
    margin: 30px;
    margin-left: 280px;
    padding: 10px;
    margin-top: -250px;
    margin-right: 10px;
    position: absolute;
    width: 500px;
    height: 150px;
    border-radius: 10px;
    background-color: #E2E2E2;
}

.topwarning h1 {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.melanggartoday {

    margin: 30px;
    margin-left: 240px;
    padding: 10px;
    margin-top: -250px;
    margin-right: 10px;
    position: absolute;
    width: 77%;
    /* height: 250px; */
    border-radius: 10px;
    background-color: #E2E2E2;
}

.melanggartoday h1 {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.siswalanggartoday h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.menulanggar {
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
    width: 300px;
    /* min-height: 220px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

.siswalanggar {
    background-color: #E2E2E2;
    margin-left: 20px;
    margin-top: 20px;
    width: 91%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #858585;
    margin: 10px;
}

table td {
    border-top: 1px solid #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: left;
}

table tr:last-child > td {
    border-bottom: 1px solid #fff;
}

.siswalanggar table tr {
    border-top: 2px solid red;
}

.siswalanggar p {
    color: #858585;
    margin-left: 15px;
}

/* Menu sidebar */
.menu-sidebar ul {
    padding: 0;
}
.menu-sidebar ul li {
    padding: 10px;
    display: block;
    position: relative;
}

.menu-sidebar ul li  a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 26px;
    margin-left: 40px;
}

.menu-sidebar .active {
    background-color: #ddd;
}

.dashboard:before {
    content: "";
    position: absolute;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: url('../../images/dashboard.png');
    background-size: cover;
}

.addData::before {
    content: "";
    position: absolute;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background:url('../../images/Data.png');
    background-size : cover;
}

.AddSiswa::before{
    content: "";
    position: absolute;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background:url('../../images/account.png');
    background-size: cover;
}

.AddSiswa a:hover {
    background-color: #ddd;
}

.dashboard a:hover{
    background-color: #ddd;
}

/* footer */
footer {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color : #858585;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #858585;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #333;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    align-content: center;
    margin: auto;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    color: white;
  }

  .myLinks a {
      color: white;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .buttonAdd{
      padding: 10px 10px 10px 10px;
      float: right;
  }